@use "base/variables" as v; 
@use "base/mixins" as m;


.speakers {
    overflow: hidden;
    &__grid {
        @include m.contenedor;
        @include m.grid(1, 5rem);

        @include m.tablet { 
            @include m.grid(2, 5rem);  
        } 

        @include m.xl_desktop { 
            @include m.grid(3, 5rem);  
        } 
    }
}

.speaker {
    @include m.card;
    @include m.menu-social(v.$negro, 2rem);
    overflow: hidden;
    @for $i from 1 through 4 {
        &:nth-child(4n + #{$i}) {
            background-image: image-set(
                url(../img/bg_#{$i}.avif) 1x,
                url(../img/bg_#{$i}.webp) 1x,
                url(../img/bg_#{$i}.png) 1x,
    
            );
            background-position: top;
            background-size: 275px;

            @include m.tablet { 
                background-size: 300px;
            } 
 
            background-repeat: no-repeat;
        } 
    }

    

    &__ubicacion {
        color: v.$gris;
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.5;
    }

    &__listado-skills {
        @include m.tags;
    }

    // .imagen-container {
    //     position: relative; /* Para controlar la posición del degradado */
    //     display: block;
    //     z-index: 10; /* Asegura que esté delante de otros elementos */
    //     max-width: 40rem;
    //     margin: 0 auto;

    //   }
      
    //   .imagen-container img {
    //     position: relative; /* Mantiene la imagen en el flujo del documento */
    //     z-index: 10; /* Asegura que la imagen esté sobre el degradado */
    //     width: 100%;
    //     height: 100%;
    //     margin: 0 auto;
    //   }
      
    //   .imagen-container::after {
    //     content: ""; /* Crea el degradado */
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 10%; /* Controla cuánto ocupa el degradado */
    //     z-index: 10; /* El degradado se coloca detrás de la imagen */
    //     background: linear-gradient(to top, white 50%, transparent); /* Degradado blanco a transparente */
    //     pointer-events: none; /* Asegura que no interfiera con los clics */
    //   }


    &__imagen-container {
        margin: 0 auto;
        display: block;
        max-width: 40rem;
    }

    &__imagen {
        mask-image: linear-gradient(black 92%, transparent);
        margin: 0 auto;

    }
}