@use "base/mixins" as m;
@use "base/variables" as v;

.auth {
    display: grid;
    align-content: center;
    background-color: v.$gris-claro;
    width: 100%;
    min-height: 100dvh;   
    padding: 2rem 0;
    &__contenedor {
        @include m.contenedor-sm;
    }

    &__heading {
        margin: 0;
    }

    &__texto {
        text-align: center;
    }
}