@use "base/variables" as v; 
@use "base/mixins" as m;

.dashboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    @include m.tablet { 
        height: 100dvh;
        overflow: hidden;
    } 

    &__header {
        background-color: v.$gris-oscuro;
        padding: 2rem;
    }

    &__heading {
        margin-top: 2rem;
    }

    &__header-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet { 
            flex-direction: row;
            justify-content: space-between;
        } 
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 6vw, 3rem)
    }

    &__nav {

    }

    &__form {

    }

    &__submit--logout {
        @include m.enlace;
    }

    &__grid {
        display: flex;
        flex: 1;

        @include m.tablet { 
            overflow: hidden;
        } 
    }

    &__sidebar {
        background-color: lighten($color: v.$gris-oscuro, $amount: 10);
        width: auto;
    }

    &__alertas {
        @include m.contenedor-md;
    }

    &__menu {
        display: flex;
        flex-direction: column;
    }

    &__enlace {
        color: v.$blanco;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        transition: ease .3s;
        &:hover,
        &--actual {
            background-color: lighten($color: v.$gris-oscuro, $amount: 20);
        }

        &:hover .dashboard__icono,
        &:hover .dashboard__menu-texto,
        &--actual .dashboard__icono,
        &--actual .dashboard__menu-texto {
            transform: scale(1.2);
        }
    }

    &__icono {
        font-size: 2rem;
        margin-bottom: 1rem;
        
    }

    &__menu-texto {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        
    }

    &__contenido {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;

        @include m.tablet { 
            padding: 1rem 5rem 3rem 5rem;  
            overflow-y: scroll; 
        } 
    }

    &__contenedor-boton {
        margin-bottom: 3rem;
        @include m.tablet { 
            display: flex;
            justify-content: flex-end;
        } 
    }

    &__boton {
        @include m.boton(v.$azul, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet { 
            width: 25rem;
        } 
    }

    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        border-radius: 1rem;
        padding: 1.5rem;
    }

    &__formulario {
        @extend .dashboard__contenedor;
        @include m.contenedor-md;
    }
}