@use "base/mixins" as m; 
@use "base/variables" as v;

.footer {
    background-color: v.$azul;
    margin-top: 5rem;
    padding-top: 5rem;
    color: v.$blanco;
    &__grid {
        @include m.contenedor;

        @include m.tablet { 
            @include m.grid(2, 3rem);
            align-items: center
        } 
    }

    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 6vw, 4rem)
    }

    &__texto {
        text-align: center;
        line-height: 2;

        @include m.tablet { 
            text-align: left;
        } 
    }

    &__copyright {
        background-color: darken($color: v.$azul, $amount: 10);
        margin: 0;
        margin-top: 3rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: v.$black;
        padding: 2rem 0;

        &--regular {
            font-weight: v.$regular;
        }
    }
}